.name
  = link_to elem.name, search_query(elem.name), :class => 'link-name query-link'
  %span.subname
    = '( ' + pluralize(elem.audio_files.uniq.count,'track') + ' )'
  &nbsp;
  %span.subname
    = '( ' + pluralize(elem.albums.uniq.count,'album') + ' )'
