- albs = (elem.solo_albums + elem.albums).uniq

.row
  - albs.each do |album|
    .col-sm-12.col-md-12.col-lg-6
      .alb-col
        .image.float-left
          = link_to %{<img src="#{image_url(elem,album)}" border="0" />}.html_safe, artist_album_add_path(elem.id,album.id), :remote => true, :title => "Add '#{album.name}' to Playing"
        .name
          = link_to album.name, search_query(album.name), :class => 'link-name query-link'
