- albs = (elem.solo_albums + elem.albums).uniq

.row
  - albs.each do |album|
    .col-sm-12.col-md-6.col-lg-4.alb-col
      .image.float-left
        = link_to %{<img src="#{albumart_url(album,'small')}" border="0" />}.html_safe, artist_album_add_path(elem.id,album.id), :remote => true, :title => "Add '#{album.name}' to Playing"
      .name
        = link_to album.name, album_path(album.id), :class => 'link-name'
