.player-position
  .row
    .col-sm-2
      .player-time.player-time-played
    .col.sm-8
      .player-position-slider-wrapper
        .player-position-slider
    .col-sm-2
      .player-time.player-time-remaining


