.row
  .col-sm-12
    = render :partial => 'carousel', :locals  => { :nodetree => @nodetree, :node_id => @node_id, :playing_playdata => @playdata }

#the-player
-# = render :partial => 'list_nodes/node', :locals => { :nodetree => @nodetree, :node_id => @node_id }
