.row
  .col-sm-12
    %form.form-search.form-horizontal
      .input-append.col-12
        %input#q.col-11.search-query{ type: "search",  placeholder: "Search" }
          %button.btn.btn-link{ type: "submit" }
            %i.material-icons search


