#home-page.page
.container
  .row
    .col-sm-5
      .row
        .col-sm-12
          = render partial: 'player'
      .row
        .col-sm-12
          #playlist-page.page
    .col-sm-7
      .row
        .col-sm-12
          #search-form-page.page
        .col-sm-12
          #search-page.page
