.listnode-controls
  .listnode-ctl.float-right
    = link_to '<i class="material-icons md-18">delete</i>'.html_safe,list_node_path(id: list_node.id), :method => :delete, :title => "Remove Album From Playlist", :remote => true, :class => "remove-node"
  .listnode-ctl.float-right
    = link_to '<i class="material-icons md-18">list</i>'.html_safe,list_nodes_flatten_path(:id => list_node.id), :method => :get, :title => "Move Individual Album tracks to Playlist", :remote => true, :class => "flatten-node"
  