.row
  .col-sm-12
    - if elem.audio_files
      .audio_files
        - audio_files = elem.audio_files.uniq
        = audio_files.first(8).map{|a| a.name }.join("&nbsp;&nbsp;&#x2b26;&nbsp;&nbsp;").html_safe
        = (audio_files.size > 8 ? " &hellip;".html_safe : "")

