- if page.current?
  %li.page-item.nav-item.active
    = content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link nav-link'
- else
  %li.page-item.nav-item
    = link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link nav-link'
