.listnode-controls
  .listnode-ctl
    = link_to '<i class="material-icons md-18">delete</i>'.html_safe,list_nodes_clear_path(:id => list_node.id), :method => :get, :title => "Clear playlist contents"
