#playing-lyric {
    header {
        padding: 0.5em;
        background-color: #eeeeff;
        border: 1px solid #aaa;
        margin-bottom: 1em;
        border-radius: 8px;
        text-align: center;
        overflow: auto;
        h3 {
            font-size: 130%;
            margin: 0px;
        }
        h4 {
            font-size: 115%;
            padding: 0.2em;
        }
        h5 {
            font-size: 100%;
            padding: 0.2em;
        }
    }
    p {
        padding-left: 1em;
        font-size: 100%;
        line-height: 110%;
    }


    
}
