.listnode-controls
  .listnode-ctl
    = link_to '<i class="icon-remove"></i>'.html_safe,list_nodes_path(list_node.id), :method => :delete, :title => "Remove From Playlist", :remote => true, :class => "remove-node"
