#search-results .Album {
    background-color: #f8fff8;
    border: 2px solid rgba(80,120,80,0.3);
    &:hover {
        border: 2px solid rgba(80,120,80,1.0);
        border-radius: 10px;
    }
    .elem-body {
        color: #888;
        font-size: smaller;
    }
    .elem-head {
        padding: 0.5em;
        img {
            height: 64px;
        }
        .desc {
            height: 64px;
            .row {
                height: 50%;
            }
            /* .row.name { */
            /*     font-weight: bolder; */
            /*     /\* font-size: 16px; *\/ */
                
            /* } */
            /* .row.artist { */
            /*     font-style: oblique; */
            /* } */
            .name {
                /* height: 32px; */
                /* font-style: oblique; */
                /* font-weight: bold; */
            }
        }
    }
}
