#search-results .AudioFile {
    background-color: #f8f8ff;
    border: 2px solid rgba(100,100,160,0.3);
    font-size: 90%;
    &:hover {
        border: 2px solid rgba(100,100,160,1.0);
        border-radius: 10px;
    }
    .elem-head {
        a {
            color: #888;
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
        .detail-button {
            height: 30px;
            line-height: 30px;
            width: 0.5em;
        }
        .image {
            margin-right: 1em;
            img {
                height: 24px;
            }
        }
        .data {
            color: #888;
            .song {
                font-weight: bold;
            }
            .artist {
                font-style: italic;
            }
            .tracknum {
                display: none;
            }
            .url {
                display: none;
            }
            
        }
    }
}
