#myCarousel {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
    &:hover {
        .car-overlay {
            display: block;
        }
    }
    .car-overlay {
        border: 2px solid #ccf;
        border-radius: 10px;
        display: none;
        position: absolute;
        background-color: transparent;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 5;
        text-align: center;
        vertical-align: middle;
        //padding: 6px;
        a {
            width: 55px;
            height: 55px;
            line-height: 55px;
            //margin-top: 6px;
            text-align: center;
            vertical-align: middle;
            border: 4px solid white;
            border-radius: 32px;
            display: inline-block;
            background-color: black;
            opacity: 0.2;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .carousel-inner {
        border: 1px solid #eee;
        background-color: #d9edf7;
        border-radius: 10px;
        font-size: 90%;
        .carousel-item {
            min-height: 60px;
            .carousel-caption {
                padding-top: 5px;
                padding-bottom: 5px;
                color: #888;
                
                bottom: 0px;
                top: 0px;

                .listnode-controls,
                .elem-image,
                .album,
                .duration,
                .url,
                .tracknum
                {
                    display: none;
                }
            }
        }
    }
        /*         .listnode-elem { */
        /*             .listnode-header { */
        /*                 .elem-image { */
        /*                     display: none; */
        /*                 } */
        /*                 .elem-data { */
        /*                     .album { */
        /*                         display: none; */
        /*                     } */
        /*                     .duration { */
        /*                         display: none; */
        /*                     } */
        /*                     .url { */
        /*                         display: none; */
        /*                     } */
        /*                 } */
        /*             } */
        /*         } */
                
        /*     } */
        /*     .listnode-head { */
        /*         .duration { */
        /*             display: none; */
        /*         } */
        /*         .artist { */
        /*             font-size: 110%; */
        /*         } */
        /*         .album { */
        /*             display: none; */
        /*             color: #555; */
        /*             font-size: 100%; */
        /*         } */
        /*         .image { */
        /*             display: none; */
        /*             margin-bottom: 3px; */
        /*         } */
        /*     } */
        /* } */

    /* } */
    .carousel-control {
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: 20;
        font-size: 36px;
        // border: 4px solid white;
        //padding: 0px 10px;
        // background-color: #bbb;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 10px;
        //width: 30px;
        //padding-bottom: 8px;
        //padding-left: 20px;
        //padding-right: 20px;
        &:hover {
            background-color: #c9dde7;
            border: 2px solid #ccf;
        }
        opacity: 0.5;
        &.left {
            border-right: 2px solid transparent;
            left: 0px;
            padding-right: 15px;
            padding-left: 15px;
        }
        &.right {
            border-left: 2px solid transparent;
            right: 0px;
            padding-right: 15px;
            padding-left: 15px;
        }
        &:hover {
            opacity: 1.0;
        }
    }
    /* .carousel-control { */
    /*     /\* left: -35px; *\/ */
    /*     opacity: 0.5; */
    /*     background-color: #bbb; */
    /*     &:hover { */
    /*         opacity: 1; */
    /*         z-index: 3; */
    /*         color: white; */
    /*         background-color: black; */
    /*     } */
    /*     text-decoration: none; */
    /*     color: #888; */
    /* } */
    /* .carousel-control.right { */
    /*     left: auto; */
    /*     right: -35px; */
    /* } */

}

/* #pb-container { */
/*     width: 100%; */
/*     border: 1px solid blue; */
/* } */
/* #pb-position { */
/*     position: relative; */
/*     width: 100%; */
/*     height: 60px; */
/*     text-align: center; */
/*     vertical-align: middle; */
/*     &:hover { */
/*         .pb-overlay { */
/*             display: block; */
/*         } */
/*     } */
/* } */
/* .pb-overlay { */
/*     position: absolute; */
/*     background-color: transparent; */
/*     top: 0px; */
/*     left: 0px; */
/*     right: 0px; */
/*     bottom: 0px; */
/*     display: none; */
/*     a { */
/*         width: 40px; */
/*         height: 40px; */
/*         line-height: 40px; */
/*         margin-top: 6px; */
/*         text-align: center; */
/*         vertical-align: middle; */
/*         border: 4px solid white; */
/*         border-radius: 24px; */
/*         display: inline-block; */
/*         background-color: black; */
/*         opacity: 0.2; */
/*         &:hover { */
/*             opacity: 1; */
/*         } */
/*     } */
/* } */
/* .pb-content0 { */
/*     color: #888; */
/* } */
/* #pb-content { */
/*     position: absolute; */
/*     border: 5px solid white; */
/*     border-radius: 23px; */
/*     width: 36px; */
/*     height: 36px; */
/*     top: 45%; */
/*     left: 50%; */
/*     margin-top: -18px; */
/*     line-height: 36px; */
/*     vertical-align: middle; */
/*     text-align: center; */
/* } */

