// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#navbarNav {
    .nav-link {
        color: transparent;
        &:hover {
            color: white;
        }
    }
}

.level1 {
    background-color: #777;
    .colm {
        border: 1px solid red;
    }
}
.level2 {
     background-color: #aaa;
    .colm {
        border: 1px solid blue;
    }
}
.hit-row {
    margin-bottom: 3px;
    margin-right: 4px;
    padding: 4px;
}
#main-buttons {
    margin-bottom: 0.5em;
}
html {
    overflow: -moz-scrollbars-vertical;
}
body {
    &>footer {
        border-top: 1px solid #ddd;
        margin-top: 1em;
        text-align: center;
        color: #888;
        font-size: 80%;
    }
}
#powered {
    ul {
        li {
            display: inline-block;
            margin-left: 1em;
            a {
                color: #888;
            }
        }
    }
}
   
                          