// Place all the styles related to the ListNodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.listnode-sortable-placholder  {
    background: orange;

}

#liel {
    ul.cont {
        padding: 1em;
        border: 1px solid purple;
        margin: 1em;
    }
    li.cont-elem {
        padding: 1em;
        border: 1px solid green;
        margin: 1em;
    }
}