- flash.each do |name, msg|
  %div.alert.alert-success.alert-dismissible.fade.show{ role: 'alert' }
    %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Close' }
      %span{ 'aria-hidden' => 'true' } &times;
    = msg
      
