%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "/"}
    = image_tag('note-blue-32.png')
  #navbarNav.collapse.navbar-collapse
    %form#search-form.form-search.form-inline
      %input#q.form-control.search-query{ type: "search",  placeholder: "Search" }
        %button#search-button.btn.btn-link{ type: "submit" }
          %i.material-icons search
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link#nav-link-player{:href => "/home/player"} Player
      %li.nav-item
        %a.nav-link#nav-link-search{:href => "/home/search"} Search
      %li.nav-item
        %a.nav-link#nav-link-playlist{:href => "/home/playlist"} Playlist
    - if user_signed_in?
      %ul.navbar-nav#navbar-right
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: '/', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            = current_user.email
            %i.material-icons
              account_circle
          .dropdown-menu#drop-down{'aria-labelledby': 'navbarDropdownMenuLink'}
            = link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-dark')
