#powered
  %ul
    %li
      Powered by: 
    %li
      Ruby on Rails
    %li
      Sound Manager 2
    %li
      Postgresql
    %li
      Twitter Bootstrap
    %li
      Sunspot Solr
    %li
      HTML5
    %li
      JQuery
    %li
      %a{ :href => "http://glyphicons.com" } Glyphicons Free
  

